@CHARSET "UTF-8";

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.bg {
	background-color: #f1f1f1;
}

.box_pa {
	background-color: #fff;
	border-radius: 4px;
	/*
		padding: 8px;
	*/
}

header div.login {
	padding-top: 10px;
	padding-right: 18px;
}

header div.menu nav ul {
	float: right;
}

.logo {
	margin-left: -76px;
}

.logo img {
	widows: 100%;
	display: inline-block;
}

div.clear {
	clear: both;
}

/*
		register page
	*/
.register_logo img {
	max-width: 400px;
	margin-top: -40px;
}

.register_body {
	margin-top: 50px;
}

/*
		zufang page
	*/
.item {
	margin: 20px 0;
}

.item img {
	widows: 100%;
}

.desc {
	margin-top: 10px;
	padding-top: 20px;
}

/*
		item page
	*/
.house_show .desc {
	margin-top: 15px;
}

.house_show img {
	widows: 100%;
}

.headImg {
	width: 100%;
}

.reply {
	padding: 10px 0;
}

.replyContent {
	margin-top: 5px;
}

@media (min-width: @screen-lg-min){
	.italk {
		border: 1px solid #ececec;
		padding: 10px;
		position: relative;
		border-radius: 3px;
	}
}
@media (min-width: @screen-sm-min){}
	.italk {
		border: 1px solid #ececec;
		padding: 3px;
		margin: 0 0;
		position: relative;
		border-radius: 3px;
	}
}

/*
		userCenter page
	*/
.user {
	margin-top: 15px;
}

/*
		footer page temp
	*/
.foot {
	margin-top: 30px;
	padding-top: 15px;
	background-color: #333;
}

.foot p {
	color: #fff;
}

.foot pre {
	color: #fff;
	background-color: #333;
}